{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/870ccd885d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    <style>
        #banner_home {
            background-image: linear-gradient(0deg, rgba(157, 125, 104, 0.5), rgba(0, 0, 0, 0.4)), url("{% static banner_image %}");
        }
    </style>
</head>

<body>
    <div class="MainContainer">

        <header>
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/favicon.png' %}" alt="logo"></a>
                <p>Bazar Vintage</p>
            </div>
            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <nav>
                <ul>
                    <!-- <li><a href="index.html">Home</a></li> -->
                    <li><a href="{% url 'products' %}">Productos</a></li>
                    <li><a href="{% url 'sales' %}">Sale</a></li>
                    <li><a href="{% url 'about' %}">Nosotros</a></li>
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="{% url 'admin:core_product_changelist' %}"><i class="fa-solid fa-gears"></i></a></li>
                </ul>
            </nav>
            <nav class="mobile-nav">
                <ul>
                    <!-- <li><a href="index.html">Home</a></li> -->
                    <li><a href="{% url 'products' %}">Productos</a></li>
                    <li><a href="{% url 'sales' %}">Sale</a></li>
                    <li><a href="{% url 'about' %}">Nosotros</a></li>
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="{% url 'admin:core_product_changelist' %}"><i class="fa-solid fa-gears"></i></a></li>
                </ul>
            </nav>
        </header>

        <main>

            <div id="banner_home">
                <h2>{{ banner_text }}</h2>
            </div>

        </main>

{% block content %}

{% endblock %}


        <footer>
                <div class="info">
                    <p>
                        <span>Horario:</span> Lunes a Viernes 9:30hs - 15:00hs<br>
                        <span>Dirección:</span> Evergreen Terrace 742, Springfield.<br>
                        <span>Teléfono:</span> 764-84377<br>
                        <span>e-mail:</span> bazarvintage@admin.com
                    </p>
                </div>

                <div class="logoGit">
                    <a href="https://github.com/AndresQ-Dev/BazarVintage.git"><i class="fa-brands fa-github"></i></a>
                </div>

            <div class="copyright">
                &copy; Bazar Vintage 2024
            </div>

        </footer>

{% block script %}
{% endblock %}

    </div>

</body>

</html>